:root {
    background-color: blue;
}

.gradient-box {
    background-image: radial-gradient(circle, rgba(0,0,0, 0.1), rgba(0,0,0,0.4));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: auto 50px auto;
}

.board-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    outline: 1px solid white;
    height: 30px;
    width: 30px;
    margin: 2px;
}

.cell-selected {
    background-color: lightgreen;
}

.cell-missed {
    background-color: darkgray;
}

.cell-hit {
    background-color: red;
}

.cell-sunk {
    background-color: black;
}